html {
	min-height: 100%;
	width: 100%;
	font-family: "Century Gothic";
	font-size: 16px;
}

body {
	min-height: 100%;
}

hr {
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 80%;
	border-bottom: 5px solid #2b5797;
	box-shadow: 2px 2px 5px black;
}

.header-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url("../images/old-wood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border: 5px solid white;
	padding: 25px;
	margin-top: 50px;
	box-shadow: 2px 2px 2px 2px #625750;
}

.header-container img {
	margin-bottom: 20px;
}

.header h1 {
	font-size: 5rem;
	font-weight: bold;
}

.header h3 {
	font-size: 2rem;
}

.header h3, .header h1 {
	color: white;
	text-shadow: 2px 2px #625750;
}

scroll-container {
	scroll-behavior: smooth;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #96897f;
	width: 100%;
	height: 40px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.nav-bar a {
	font-size: 1.25rem;
	color: white;
	text-decoration: none;
	height: 100%;
	padding: 8px 10px 0px 10px;
}

.nav-bar a:hover {
	background-color: #625750;
}

.nav-fixed {
	position: fixed; 
	top: 0; 
	height: 40px; 
	z-index: 1;
}

.small-menu {
	display: none;
}

@media only screen and (max-width: 1080px) {
	.nav-bar {
		display: none;
	}

	.small-menu {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.small-menu-label {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.small-menu-content {
    	display: none;
    	position: absolute;
    	align-content: center;
    	margin-top: 120px;
    	background-color: #f9f9f9;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	z-index: 2;
	}

	.small-menu-content a {
    	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
	}

	.small-menu-content a:hover {
		background-color: #ffdb99;
	}

	.small-menu:hover .small-menu-content {
    	display: block;
	}

	.small-menu:hover .dropbtn {
    	background-color: #3e8e41;
	}

	.header-container {
		height: 500px;
	}

	.arrow-image img{
		display: none;
	}
}

.main-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 500px;
}

.side-column {
	height: 100%;
	width: 15%;
}

.middle-column {
	height: 100%;
	width: 70%;
}

.aboutme-container {
	width: 100%;
}

.aboutme-container h1{
	font-size: 3rem;
	font-weight: bold;
	padding: 26px 0px 2px 0px;
}

.aboutme-container h4{
	font-size: 1.5rem;
	font-weight: bold;
	color: gray;
	padding-bottom: 10px;
}

.aboutme-container ol {
	list-style: inside;
	list-style-type: decimal;
}

.aboutme-container li {
 font-size: 1.5rem;
 padding-bottom: 5px;
}

.aboutme-container p {
	font-size: 1.5rem;
	padding-left: 25px;
	padding-top: 7px;
}

.aboutme-content {
	padding: 25px 0px 0px 20px;
}

.aboutme-img {
	padding-right: 20px;
}

.aboutme-img img {
	float: left;
	height: 300px;
	width: 300px;
	margin: 25px 15px 0px 25px;
	border: 3px solid #2b5797;
	border-radius: 15px;
}







.footer-container {
	height: 50px;
	width: 100%;
	background-color: #96897f;
	border-top: 2px solid black;
}

.footer {
	width: 100%;
	height: 100%;
}

.footer h4 {
	float: right;
	color: white;
	font-size: 1.15rem;
	padding-right: 20px;
	padding-top: 20px;
}

